@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
/*Common styles */
*{
    font-family: 'Tilt Warp', cursive;
    font: weight 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
  
}

/*Coverting 1 rem to 10px */

html{
    font-size: 62.5%;
}

/*Section-1*/
.section-1{
    width: 100%;
    height: 100vh;
    background-color:  #9ea59b;
    color: #f0a04b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-heading{
    font-size: 10rem;
    text-align: center;
    letter-spacing: 0.3rem;
    text-shadow: 0.3rem 0.3rem 0.3rem #f6c453;
}
.section1-icons i{
    font-size: 25rem;
    color:#f3f7f6; 
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0.3s ease;
    transition-delay: 250ms;
}
.section1-icons i.change{
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.3s ease;
    transition-delay: 250ms;
}


/*Section-2*/
.section-2{
    background:#fefbe9;
    color:#f6c453;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    
}
.card img{
    width: 35rem;
    height: 45rem;
    object-fit:cover;
    border-radius: 2rem
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    border: 4px solid  #a9c25d;
    border-radius: 4rem;
    width: 45rem;
    height: 50rem;
    padding: 4rem;
    background:#f5eec2; 
    gap: 2rem;
    letter-spacing: 1rem;
    position: relative;
}
.card h3{
    font-size: 5rem;
}
.card button{
    font-size: 2.5rem;
    width: 100%;
    background:  #73a24e;
    color: #f5eec2;
    border-radius: 4rem;
    cursor:pointer;
    border: none;
}
.card:hover{
    box-shadow: 2rem 2rem 5rem #416a59 ;
    transform: scale(1.1);
    transition: transform 0.3s;
}
/*Section-3*/
.section-3{
    background-color:#fcde67;
    padding: 5rem 0;
    color: #5bccf6; 
}

.menu-link img{
    width: 24vw;
    height: 15vw;
    object-fit:cover;
    border-radius: 4rem;
    box-shadow: 0.3rem 0.3rem 0.1rem #5bccf6 ,0.5rem 0.5rem 0.1rem #27718b;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-link{
width: 33%;
display: flex;
flex-direction: column;
align-items: center;
font-size: 1.5rem;
padding: 2rem ;
color: #5bccf6;
position: relative;
-webkit-transition: all 0.5s duration timing-function delay;
-moz-transition: all 0.5s duration timing-function delay;
transition: all 0.5s duration timing-function delay;
}
.menu-link h3{
    font-size: 4rem;
}


.food-name{
    position: absolute;
    top: 3rem;
    left: 10rem;
    width: 0;
    overflow: hidden;
    
}
.food-description{
 position: absolute;
 bottom: 3vw;
 left: 10rem;
 text-align: left;
 width: 60%;
 opacity: 0;
 visibility: hidden;
}
.menu-link span{
    position: absolute;
    top: 85%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
}
.menu-link::before{
    content: "";
    position:absolute;
    width: 0.2rem;
    top: 2vw;
    left: 80%;
   /* height: 80%;*/
   height: 0;
   transition: height 0.5s ;
    background:#5bccf6;
}

.menu-link::after{
    content: "";
    position:absolute;
  /*  width: 60%;*/
  transition: width 0.5s ;
  width: 0;
    top: 30%;
    right:10rem;
    height: 0.2rem;
    background:#5bccf6; 
}
.menu-link:hover::before{
    height: 80%;
}
.menu-link:hover::after{
    width: 60%;
    z-index: 1;
 
}
.menu-link:hover .food-name{
    width: 100%;
    transition: width 1s 0.5S; 
}
.menu-link:hover .food-description{
   
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}
.menu-link:hover img{
   filter:blur(0.5rem);
    opacity: 0.3;
    transform: scale(1.1);
    -webkit-transition: transform 0.5s duration timing-function delay;
    -moz-transition: transform 0.5s duration timing-function delay;
    transition: transform 0.5s duration timing-function delay;
}